<section class="dashboard-card">
    <form>
        <h3>Add Leads</h3>
        <label for="names">Names</label>
        <input type="text" placeholder="First Name" id="firstname" />
        <input type="text" placeholder="Second Name" id="secondname" />

        <label for="phone">Phone Number</label>
        <input type="text" placeholder="Phone Number" id="phonenumber" />

        <label for="location">Location</label>
        <input type="text" placeholder="Location" id="location" />

        <label for="gender">Gender</label>
        <input type="text" placeholder="Gender" id="gender" />

        <label for="date">Date</label>
        <input type="datetime-local" name="created_date" id="date" />

        <label for="created_by">Created By</label>
        <input type="text" placeholder="Name" id="created_by" />

        <button>Submit</button>
    </form>
</section>
