<section class="dashboard-card">
    <form>
        <h3>Add Leads</h3>
        <label for="names">Names</label>
        <input type="text" placeholder="First Name" id="firstname" />
        <input type="text" placeholder="Second Name" id="secondname" />

        <label for="phone">Phone Number</label>
        <input type="text" placeholder="Phone Number" id="phonenumber" />

        <label for="location">Location</label>
        <input type="text" placeholder="Location" id="location" />

        <label for="gender">Gender</label>
        <input type="text" placeholder="Gender" id="gender" />

        <label for="created_by">Created By</label>
        <input type="text" placeholder="Name" id="created_by" />

        <label for="photo">Photo</label>
        <input type="file" placeholder="Upload Photo" id="created_by" />

        <label for="earnings">Annual Earnings</label>
        <input type="text" placeholder="Annual Earnings" id="earnings" />

        <label for="date">Date</label>
        <input type="datetime-local" name="created_date" id="date" />

        <div class="radio">
            <h3>Products of Interest</h3>
            <div>
                <input type="radio" name="product_a" id="product_a" value="product_a" />
                <label for="products">Products A -> 10,000</label>
            </div>
            <div>
                <input type="radio" name="product_b" id="product_b" value="product_b" />
                <label for="products">Products B -> 20,000</label>
            </div>
            <div>
                <input type="radio" name="product_b" id="product_b" value="product_b" />
                <label for="products">Products C -> 30,000</label>
            </div>
        </div>
        <label for="products">Created By</label>
        <input type="text" placeholder="Created By" id="created_by" />

        <button>Submit</button>
    </form>
</section>
