<section class="dashboard-card">
    <form>
        <h3>Create Customer</h3>
        <h5 class="heading">Leads</h5>
        <div class="leads">
            <ul>
                <!-- Heading -->
                <li class="leads-heading">
                    <div>
                        <h5>First Name</h5>
                    </div>
                    <div>
                        <h5>Second Name</h5>
                    </div>
                    <div>
                        <h5>Phone No.</h5>
                    </div>
                    <div>
                        <h5>Date</h5>
                    </div>
                    <div>
                        <h5>Created By</h5>
                    </div>
                </li>
                <!-- Data -->
                <li class="leads-data">
                    <div class="one">
                        <p>Clint</p>
                    </div>
                    <div>
                        <p>Maruti</p>
                    </div>
                    <div>
                        <p>+254796475102</p>
                    </div>
                    <div>
                        <p>11/08/2022</p>
                    </div>
                    <div>
                        <p>Clint M.</p>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</section>
