<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="/css/dashboard.css" type="text/css" />
        <title>BasiGo Technical Assessment</title>
    </head>
    <body>
        <!-- Navbar -->
        <section class="section-nav">
            <div class="navigation">
                <div class="logo">
                    <img src="/images/logo.png" alt="Logo Image" />
                </div>
            </div>
        </section>

