<aside>
    <nav>
        <ul>
            <% if (isAdmin) { %>
            <a href="/users/dashboard/add-customer">
                <li>Add Customer</li>
            </a>
            <a href="/users/dashboard/logout">
                <li>Logout</li>
            </a>
            <% } %> <% if (!isAdmin) { %>
            <a href="/users/dashboard/add-lead">
                <li>Add Leads</li>
            </a>
            <a href="/users/dashboard/logout">
                <li>Logout</li>
            </a>
            <% } %>
        </ul>
    </nav>
</aside>
