<aside>
    <nav>
        <ul>
            <a href="/users/leads">
                <li>Leads</li>
            </a>
            <a href="/users/customers">
                <li>customers</li>
            </a>
            <a href="/users/view-all">
                <li>view all</li>
            </a>
            <a href="/users/logout">
                <li>Logout</li>
            </a>
        </ul>
    </nav>
</aside>
