<aside>
    <nav>
        <ul>
            <a href="#">
                <li>Leads</li>
            </a>
            <a href="#">
                <li>customers</li>
            </a>
            <a href="#">
                <li>view all</li>
            </a>
        </ul>
    </nav>
</aside>
